@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #35574d;
  color: white;
}
header {
  background-color: rgba(34, 34, 182, 0.332);
  background-image: url("img/img-minos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  align-items: center;
  min-height: 100vh;
}
header {
  position: relative;
}
header .nav-bar {
  position: fixed;
  max-width: 1700px;
  padding: 1rem;
  width: 100%;
  height: 60px;
  z-index: 500;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}
.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
}

.nav-bar .logo {
  font-weight: bold;
  font-size: 22px;
}
.nav-bar .logo a {
  color: white;
  list-style: none;
  text-decoration: none;
  font-size: 22px;
}
header .nav-bar .links {
  display: flex;
  gap: 2rem;
}
header ul {
  list-style: none;
}
header .nav-bar .links {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
header ul li a {
  color: white;
  display: block;
  font-size: 22px;
  margin: 7px;
  margin-inline-start: 55px;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
}
header .nav-bar .links li a:hover {
  color: gold;
}
.navbar-toggler {
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  display: none;
}
.sub-menu {
  display: none;
  position: absolute;
  top: 3rem;
  right: 4rem;
  height: 0;
  width: 380px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.sub-menu.open {
  height: 240px;
}
.sub-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap-hero-section {
  position: relative;
  max-width: 700px;
  color: #fff;
  padding: 40%;

}
.wrap-hero-section h1 {
  position: absolute;
  font-weight: bold; 
  font-size: 66px; 
  top: 200px;
}
/* Responsive */
@media (max-width: 998px) {
  header {
    width: 100%;
  }
  header .nav-bar .links {
    display: none;
  }
  .navbar-toggler {
    display: block;
    cursor: pointer;
    left: 1vh;
  }
  .sub-menu {
    display: block;
    background-color: transparent;
    box-shadow: none;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 576px) {
  .sub-menu {
    top: 66px;
    left: 2rem;
    width: unset;
    right: 48px;
  }
}

/* Contenido del main */
.conteiner-lg {
  position: relative;
  color: white;
  display: flex;
  /* background: linear-gradient(
    45deg,
    #3248b8,
    #55518c,
    #3e2baa,
    #256598,
    #0f363c,
    #4f1ffd
  ); */
}
.conteiner-lg img {
  height: 200px;
  width: 300px;
}
.descripcion {
  background-color: rgb(60, 93, 67);
}
.descripcion .h1 {
  justify-content: center;
  align-items: center;
  margin-left: 400px;
}
.conteiner-lg p {
  display: flex;
  margin: auto;
  font-weight: bold;
  padding: 12px;
}
.img-top {
  border-bottom-right-radius: 40px;
  box-shadow: solid 5px rgb(0, 0, 0);
}
.sub-conteiner,
.conteiner-lg {
  padding-left: 4rem;
  padding-right: 4rem;
}
.centro-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.centro-content img {
  display: flex;
  background-color: #3333;
  width: 300px;
  border-radius: 50%;
}
.centro-content h4 {
  font-weight: bold;
}
.centro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(5, 205, 240, 0.552);
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}
.centro-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
}
.centro p {
  margin: auto;
}
.centro-2 p {
  margin-left: 20px;
}
.sub-conteiner section {
  background-color: #3333;
  padding: 16px;
  justify-content: center;
  align-items: center;
}
.descripcion h1 {
  font-weight: bold;
}
.conteiner-sm {
  display: flex;
  position: relative;
  justify-content: space-around;
}
.conteiner-sm img {
  width: 100%;
  height: 200px;
}
.container-md img {
  width: 200px;
  height: 200px;
}
.card {
  background-color: #56dab7;
  position: relative;
}
.carousel {
  margin: 4rem;
}
.ubicacion-conteiner {
  max-width: 100%;
  position: relative;
  width: auto;
  text-align: center;
  padding: 50px 0;
}
.card-ubi-text {
  display: block;
}
/* RESPONSIVE DEL INDEX */
@media (max-width: 1040px) {
  .wrap-hero-section {
    padding: 10%;
  }
  .conteiner-lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .conteiner-lg .h1 {
    margin-left: 0;
  }
  .conteiner-lg img {
    width: 257px;
  }
  .sub-conteiner,
  .conteiner-lg {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .conteiner-lg p {
    padding-bottom: 35px;
  }
  .descripcion h1 {
    margin-left: 0;
  }
  .centro-content {
    display: block;
  }
  .centro {
    display: block;
  }
  .centro-content img {
    width: 272px;
    border-radius: 50%;
  }
  .centro-2 {
    display: block;
  }
  .centro-2 {
    border-bottom-left-radius:0;
  }
  .nav {
    display: none;
  }
  .conteiner-lg .descripcion,
  h1,
  p {
    padding: 12px;
  }
  .img-top {
    border: none;
  }
  .sub-conteiner,
  section {
    margin: 0;
  }
  .conteiner-sm {
    display: block;
    padding-bottom: 35px;
  }

  .conteiner-sm img {
    width: 100%;
  }
  .card-ubi iframe {
    width: 300px;
    height: 150px;
  }
  .carousel {
    width: auto;
    margin: 0;
  }
}
.fa-play {
  color: yellowgreen;
}

/* footer */
.footer-item {
  display: flex;
  width: 100%;
  padding: 2rem;
}
.item {
  position: relative;
  width: 190px;
  height: 254px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-bottom: 20px;
  padding: 1px;
  transition: all 0.3s ease;
  overflow: hidden;
}
.item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.776);
  height: 265px;
  width: 200px;
  overflow: hidden;
}

.item-img {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.item-body {
  position: absolute;
  top: 42%;
  left: 0;
  right: 0;
  width: 100%;
  height: 75%;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(315deg, #000000, #61565a);
  transform: rotateX(-90deg);
  transform-origin: bottom;
  overflow: hidden;
}

.item:hover .item-body {
  transform: rotateX(0deg);
  overflow: hidden;
}

.item .item-body h5 {
  color: rgb(255, 246, 246);
}

.item .item-body a {
  position: relative;
  padding: 2px;
  border-radius: 20px;
  width: 24px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}
.item-body a i {
  color: white;
}

@media (max-width: 1040px) {
  .footer-item {
    display: flex;
    width: 100%;
    padding: 2rem;
    flex-wrap: wrap;
  }
  .item:hover .item-body {
    height: 300xp;
  }
  .item .item-body a {
    width: 20px;
  }
  .item .item-body h5 {
    font-size: 14px;
  }
}
